body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: #ff2d2d;
    font-size: 4rem;
}

p {
    font-size: 1.2rem;
}